
// Navigation Variables
$content-width: 1170px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #f7b600;
$text-font-color: #1A1F71;

// Outer navigation wrapper
.navigation {
  height: 87px;
  background: linear-gradient(45deg,#1a1e5a 0,#122d98 100%);;
}


// Logo and branding
.brand {
  float: left;
  line-height: $nav-height;
  a {
    color: $nav-font-color;
    text-decoration: none;

    img {
        height: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    font-size: 16px;
    padding-top: 30px;;
    padding-bottom: 25px;
    // padding: 0;
    li {
      float: left;

      .visa-search-icon {
        background: url(assets/search-12-24.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        top: -11px;
        position: relative;
      }
      a {
        min-height: 87px;
        color: $nav-font-color;
        text-decoration: none;
        padding-left: 2rem;
        padding-right: 2rem;
        &:hover {
          color: $link-hover-color;
        }
        
      }

      .search-line{
          display: inline-block;
          width: 1px;
          height: 30px;
          position: relative;
          top: -3px;
          background-color: rgba(255,255,255,0.25);
          margin-right: 10px;
        }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}

.navline{
    z-index: 3;
    display: block;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 5px;

    .isnavinactive {
        display: none;
    }

    .nav-indicator{
        position: absolute;
        top: -15px;
        width: 30px;
        height: 10px;
        margin-left: -15px;
        z-index: 10;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .nav-indicator-bar{
      background: url(assets/global-nav-indicator-bar.jpg) 2500px 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: 1s;
      transition: 1s;
    //    background-color: yellow; //sample
    //   background: url("assets/global-nav-indicator-bar.jpg") 2500px 0;
    // background-image: url("C:\Users\ramyasri\Downloads\cli-quickstart\src\assets\global-nav-indicator-bar.jpg");
    }
}